@import url("https://fonts.googleapis.com/css2?family=Cabin&family=Fredoka+One&family=Staatliches&display=swap");

#app {
  font-family: Cabin, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: var(--font-color);
  margin-top: 3rem;
}
body {
  margin: 0;
}

html {
  background-color: var(--color-accent);
}

.text-primary {
  font-family: Cabin, Helvetica, Arial, sans-serif;
}

.text-secondary {
  font-family: "Fredoka One", cursive;
}

.text-tertiary {
  font-family: "Staatliches", cursive;
}

h1 {
  font-size: 2.2rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.4rem;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 1.1rem;
}

.header {
  font-family: "Staatliches", cursive;
}

:root {
  --color-light: rgb(231, 231, 231);
}

.theme-dlsu {
  --color-primary: #308107;
  --color-secondary: #8dd453;
  --color-accent: #e2e2e2;
  --font-color: #091f0d;
}

.theme-ateneo {
  --color-primary: #0d659d;
  --color-secondary: #93c4e9;
  --color-accent: #e2e2e2;
  --font-color: #050b1f;
}

.theme-ust {
  --color-primary: #b89d03;
  --color-secondary: #f5cc02;
  --color-accent: #e2e2e2;
  --font-color: #3d3d3f;
}

.theme-up {
  --color-primary: #500e09;
  --color-secondary: #bd3537;
  --color-accent: #e2e2e2;
  --font-color: #5f7950;
}

.section {
  margin: 0 20px 3rem 20px;
  text-align: left;
}
